@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: Roboto,Arial;
}

body {
  background-color: #202024;
  width: 100%;
  height: 100%;
  color: white;

}
header{
  background-color: #005290;
  padding: 3rem;
  margin: .5rem;
  text-align: center;


}
header h1{
  padding-bottom: 3rem;

}
input{
  margin: 0;
  border: none;
  border-radius: 0;
  width: 70%;
  padding: .6rem;
  font-size: 1rem;
  outline: none;§Æ{
  margin: .5rem;

}